.ribbon {
  padding: 15px;
  height: 50px;
  background: #ff1900;
  clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
  text-transform: uppercase;
  color: #dddeda;
  letter-spacing: 0.18em;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  border-radius: 10%;
}
